--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: taskperiodicity; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.taskperiodicity AS ENUM (
    'DAILY',
    'WEEKLY',
    'SPECIAL'
);


ALTER TYPE public.taskperiodicity OWNER TO postgres;

--
-- Name: taskstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.taskstatus AS ENUM (
    'PENDING',
    'COMPLETED',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.taskstatus OWNER TO postgres;

--
-- Name: tasktype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tasktype AS ENUM (
    'INDIVIDUAL',
    'COLLECTIVE'
);


ALTER TYPE public.tasktype OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'SUPERADMIN',
    'ADMIN',
    'USER'
);


ALTER TYPE public.userrole OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: family; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.family (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    created_by integer,
    max_members integer NOT NULL,
    timezone character varying NOT NULL
);


ALTER TABLE public.family OWNER TO postgres;

--
-- Name: family_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.family_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.family_id_seq OWNER TO postgres;

--
-- Name: family_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.family_id_seq OWNED BY public.family.id;


--
-- Name: reward; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reward (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    cost integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    family_id integer
);


ALTER TABLE public.reward OWNER TO postgres;

--
-- Name: reward_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reward_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reward_id_seq OWNER TO postgres;

--
-- Name: reward_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reward_id_seq OWNED BY public.reward.id;


--
-- Name: rewardredemption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rewardredemption (
    id integer NOT NULL,
    reward_id integer NOT NULL,
    user_id integer NOT NULL,
    redeemed_at timestamp without time zone NOT NULL
);


ALTER TABLE public.rewardredemption OWNER TO postgres;

--
-- Name: rewardredemption_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rewardredemption_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rewardredemption_id_seq OWNER TO postgres;

--
-- Name: rewardredemption_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rewardredemption_id_seq OWNED BY public.rewardredemption.id;


--
-- Name: task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    credits integer NOT NULL,
    task_type public.tasktype NOT NULL,
    periodicity public.taskperiodicity NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    family_id integer
);


ALTER TABLE public.task OWNER TO postgres;

--
-- Name: task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.task_id_seq OWNER TO postgres;

--
-- Name: task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_id_seq OWNED BY public.task.id;


--
-- Name: taskassignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taskassignment (
    id integer NOT NULL,
    task_id integer NOT NULL,
    user_id integer NOT NULL,
    status public.taskstatus NOT NULL,
    scheduled_date date NOT NULL,
    completed_at timestamp without time zone,
    approved_at timestamp without time zone,
    approved_by integer,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.taskassignment OWNER TO postgres;

--
-- Name: taskassignment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.taskassignment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.taskassignment_id_seq OWNER TO postgres;

--
-- Name: taskassignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.taskassignment_id_seq OWNED BY public.taskassignment.id;


--
-- Name: taskcompletionphoto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taskcompletionphoto (
    id integer NOT NULL,
    task_assignment_id integer NOT NULL,
    filename character varying NOT NULL,
    original_filename character varying NOT NULL,
    file_path character varying NOT NULL,
    thumbnail_path character varying,
    file_size integer NOT NULL,
    mime_type character varying NOT NULL,
    uploaded_at timestamp without time zone NOT NULL
);


ALTER TABLE public.taskcompletionphoto OWNER TO postgres;

--
-- Name: taskcompletionphoto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.taskcompletionphoto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.taskcompletionphoto_id_seq OWNER TO postgres;

--
-- Name: taskcompletionphoto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.taskcompletionphoto_id_seq OWNED BY public.taskcompletionphoto.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying NOT NULL,
    password_hash character varying NOT NULL,
    role public.userrole NOT NULL,
    credits integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    family_id integer,
    full_name character varying,
    email character varying
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: family id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family ALTER COLUMN id SET DEFAULT nextval('public.family_id_seq'::regclass);


--
-- Name: reward id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reward ALTER COLUMN id SET DEFAULT nextval('public.reward_id_seq'::regclass);


--
-- Name: rewardredemption id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewardredemption ALTER COLUMN id SET DEFAULT nextval('public.rewardredemption_id_seq'::regclass);


--
-- Name: task id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task ALTER COLUMN id SET DEFAULT nextval('public.task_id_seq'::regclass);


--
-- Name: taskassignment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskassignment ALTER COLUMN id SET DEFAULT nextval('public.taskassignment_id_seq'::regclass);


--
-- Name: taskcompletionphoto id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskcompletionphoto ALTER COLUMN id SET DEFAULT nextval('public.taskcompletionphoto_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: family; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.family (id, name, description, is_active, created_at, created_by, max_members, timezone) FROM stdin;
1	Familia Garc├¡a	Familia de ejemplo para pruebas	t	2025-08-14 21:43:02.484388	1	8	America/Mexico_City
2	Familia Triky	Triky Famili	t	2025-08-14 22:56:56.616185	1	4	UTC
\.


--
-- Data for Name: reward; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reward (id, name, description, cost, is_active, created_at, family_id) FROM stdin;
4	Dinero extra	$10 pesos de mesada extra	50	t	2025-08-14 21:43:03.268293	1
5	D├¡a libre de tareas	Un d├¡a completo sin tareas asignadas	80	t	2025-08-14 21:43:03.26838	1
6	Helado	Un helado de tu sabor favorito	20	t	2025-08-14 23:27:12.656248	1
7	Pel├¡cula en familia	Elegir la pel├¡cula para ver en familia	50	t	2025-08-14 23:27:12.70768	1
8	Pizza Garc├¡a	Pizza familiar los viernes	30	t	2025-08-14 23:28:16.321327	1
\.


--
-- Data for Name: rewardredemption; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rewardredemption (id, reward_id, user_id, redeemed_at) FROM stdin;
\.


--
-- Data for Name: task; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: taskassignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.taskassignment (id, task_id, user_id, status, scheduled_date, completed_at, approved_at, approved_by, created_at) FROM stdin;
42	1	3	APPROVED	2025-08-17	2025-08-17 08:18:18.264883	2025-08-17 08:53:17.22138	2	2025-08-17 08:18:01.983169
\.


--
-- Data for Name: taskcompletionphoto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.taskcompletionphoto (id, task_assignment_id, filename, original_filename, file_path, thumbnail_path, file_size, mime_type, uploaded_at) FROM stdin;
2	42	515256e3-9f52-45ad-b6d1-547926d2c69d.jpg	task_42_1755418696796.jpg	/uploads/task-photos/515256e3-9f52-45ad-b6d1-547926d2c69d.jpg	/uploads/task-photos/thumbnails/thumb_515256e3-9f52-45ad-b6d1-547926d2c69d.jpg	1565966	image/jpeg	2025-08-17 08:18:18.264762
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: family_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.family_id_seq', 70, true);


--
-- Name: reward_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reward_id_seq', 38, true);


--
-- Name: rewardredemption_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rewardredemption_id_seq', 1, false);


--
-- Name: task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_id_seq', 37, true);


--
-- Name: taskassignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.taskassignment_id_seq', 42, true);


--
-- Name: taskcompletionphoto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.taskcompletionphoto_id_seq', 2, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 41, true);


--
-- Name: family family_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family
    ADD CONSTRAINT family_pkey PRIMARY KEY (id);


--
-- Name: reward reward_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reward
    ADD CONSTRAINT reward_pkey PRIMARY KEY (id);


--
-- Name: rewardredemption rewardredemption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewardredemption
    ADD CONSTRAINT rewardredemption_pkey PRIMARY KEY (id);


--
-- Name: task task_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_pkey PRIMARY KEY (id);


--
-- Name: taskassignment taskassignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskassignment
    ADD CONSTRAINT taskassignment_pkey PRIMARY KEY (id);


--
-- Name: taskcompletionphoto taskcompletionphoto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskcompletionphoto
    ADD CONSTRAINT taskcompletionphoto_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: ix_family_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_family_name ON public.family USING btree (name);


--
-- Name: ix_reward_family_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reward_family_id ON public.reward USING btree (family_id);


--
-- Name: ix_task_family_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_family_id ON public.task USING btree (family_id);


--
-- Name: ix_taskassignment_scheduled_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_taskassignment_scheduled_date ON public.taskassignment USING btree (scheduled_date);


--
-- Name: ix_user_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_username ON public."user" USING btree (username);


--
-- Name: family family_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.family
    ADD CONSTRAINT family_created_by_fkey FOREIGN KEY (created_by) REFERENCES public."user"(id);


--
-- Name: reward reward_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reward
    ADD CONSTRAINT reward_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- Name: rewardredemption rewardredemption_reward_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewardredemption
    ADD CONSTRAINT rewardredemption_reward_id_fkey FOREIGN KEY (reward_id) REFERENCES public.reward(id);


--
-- Name: rewardredemption rewardredemption_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rewardredemption
    ADD CONSTRAINT rewardredemption_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: task task_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- Name: taskassignment taskassignment_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskassignment
    ADD CONSTRAINT taskassignment_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public."user"(id);


--
-- Name: taskassignment taskassignment_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskassignment
    ADD CONSTRAINT taskassignment_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.task(id);


--
-- Name: taskassignment taskassignment_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskassignment
    ADD CONSTRAINT taskassignment_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: taskcompletionphoto taskcompletionphoto_task_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taskcompletionphoto
    ADD CONSTRAINT taskcompletionphoto_task_assignment_id_fkey FOREIGN KEY (task_assignment_id) REFERENCES public.taskassignment(id);


--
-- Name: user user_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- PostgreSQL database dump complete
--

